* {
  margin: 0px;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
#main {
  width: 1200px;
  height: 300px;
}
.nav > ul {
  display: flex;

  margin-left: 30px;
}
.nav > ul > li {
  margin-top: 10px;
  text-align: left;
  display: block;
  width: 200px;
  font-size: 24px;
}
.nav > ul > li > a {
  font-weight: bold;
  display: block;
  width: 200px;
  height: 100px;
}
.nav > ul > li > ul {
  margin-top: 30px;
}
.nav > ul > li > a:hover {
  border-bottom: 1px solid;
}

.nav > ul > li > ul > li {
  display: block;
  width: 200px;
  margin-top: 20px;
  text-align: left;
  display: none;
}
.nav > ul > li > ul > li:hover {
  background-color: gray;
}
